* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

/* Scrollbar */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #6D8A96; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #5D707F; 
}

/* Akhir Scrollbar */

:root {
  --background-color: #ffffff;
  --navbar-font: "Lato", sans-serif;
  --heading-font: "Space Mono", monospace;
  --sub-heading-font: "Martel Sans", sans-serif;
}

body {
  background-color: var(--background-color) !important;
  font-family: var(--heading-font) !important;
}

/* Back to top */

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #003554;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #0582ca;
}

.bi-hand-index-fill {
  color: #fffffc;
}

/* Akhir */

/* Navbar */

.navbar {
  position: relative;
  width: 100%;
}

.navbar-expand-lg {
  background-color: #171C26;
}

.navbar-brand {
  position: relative;
  font-size: 30px !important;
  color: #fffffc;
  left: 140px;
  text-transform: uppercase;
}

.navbar-brand:hover {
  color: #fffffc;
}

.navbar-nav {
  position: relative;
  left: 300px;
  color: #fffffc;
}

.nav-item {
  margin-right: 45px;
}

.nav-link {
  color: #fffffc !important;
}

.nav-link:hover {
  color: #09C0FA !important ;
}

.active {
  color: #09C0FA !important;
  font-weight: bold;
}

@media only screen and (max-width: 500px) {
  .navbar-brand {
    position: relative;
    left: 5%;
    font-size: 22px !important;
  }
  .bi-list {
    position: relative;
    top: 5px;
    color: #fafafa !important;
  }
  .navbar .navbar-toggler:focus {
    color: #0582ca;
  }
  .nav-item {
    position: relative;
    text-align: center;
    top: 5px;
    right: 270px;
  }
}

/* AKhir Navbar */

/* Hero */

.mouse_move {
  position: absolute;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.mouse_move img {
  position: absolute;
  opacity: 0.8;
}

.display-5 {
  font-family: var(--heading-font) !important;
  font-size: 38px !important;
}

.hero-sub-heading {
  position: relative;
  top: 10px;
  width: 500px;
  font-family: var(--sub-heading-font) !important;
  font-weight: 500 !important;
}

#img1 {
  top: 80px;
  left: 0px;
  height: 100px;
  width: 100px;
}

#img2 {
  top: 10px;
  right: 80px;
  height: 100px;
  width: 100px;
}

#img3 {
  top: 400px;
  left: 1100px;
  width: 100px;
  height: 100px;
}

#img4 {
  top: 30px;
  left: 550px;
  width: 100px;
  height: 100px;
}

#img5 {
  top: 430px;
  left: 350px;
  width: 100px;
  height: 100px;
}

.logo-img {
  border-radius: 30px;
}

.btn-primary {
  width: 150px;
  height: 40px;
  position: relative;
  top: 20px;
  z-index: 2 !important;
  border-radius: 5px !important;
  font-size: 14px !important;
  padding-top: 8px !important;
  background-color: #FFB647 !important;
  border-color: #FFB647 !important;
  color: #171C26 !important;
  font-weight: 600 !important;
}

.btn-primary:hover {
  border-color: #bd7e20 !important;
  background-color: #bd7e20 !important;
  color: #f2f4f3 !important;
}

@media only screen and (max-width: 500px) {
  body {
    overflow-x: hidden !important;
  }
  .btn-outline-success {
    position: relative;
    top: -5px;
    left: 110px;
  }
  .mouse_move {
    display: none !important;
  }
  .logo-img {
    position: relative;
    left: 30px;
  }
  .display-5 {
    font-family: var(--heading-font) !important;
    font-size: 24px !important;
    text-align: center;
  }
  .hero-sub-heading {
    position: relative;
    top: 10px;
    width: 320px;
    font-size: 16px;
    text-align: center;
    font-family: var(--sub-heading-font) !important;
    font-weight: 500 !important;
  }
  .btn-primary {
    width: 150px;
    height: 40px;
    position: relative;
    top: 20px;
    left: 26%;
    z-index: 2 !important;
    border-radius: 5px !important;
    font-size: 14px !important;
    padding-top: 8px !important;
    background-color: #FFB647 !important;
    border-color: #FFB647 !important;
    color: #171C26 !important;
    font-weight: 600 !important;
  }
}

/* Akhir Hero */

/* Service */

.service {
  background-image: url(./img/bg/photo-1550684376-efcbd6e3f031.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.pb-2 {
  text-transform: uppercase;
  text-align: center;
  color: #fffffc;
  border-color: #006494 !important;
  border-bottom: 2px dashed #006494;
}

.service-text {
  color: #fffffc;
}

.service-text h2 {
  position: relative;
  top: 2px;
  font-size: 30px !important;
  font-weight: 600;
}

.service-text p {
  position: relative;
  top: 5px;
  width: 255px;
  font-weight: 200 !important;
}

.bi-clock {
  position: relative;
  top: -2px;
  right: 9px;
  color: #00a6fb;
  font-size: 30px;
}

.bi-shield-check {
  position: relative;
  top: -2px;
  right: 9px;
  color: #00a6fb;
  font-size: 30px;
}

.bi-shield-lock {
  position: relative;
  top: -2px;
  right: 9px;
  color: #00a6fb;
  font-size: 30px;
}

.bi-emoji-laughing {
  position: relative;
  top: -2px;
  right: 9px;
  color: #00a6fb;
  font-size: 30px;
}

.bi-graph-up-arrow {
  position: relative;
  top: -2px;
  right: 9px;
  color: #00a6fb;
  font-size: 30px;
}

.bi-person-check {
  position: relative;
  top: -2px;
  right: 9px;
  color: #00a6fb;
  font-size: 30px;
}

@media only screen and (max-width: 500px) {
  .service-card {
    position: relative;
    left: 5%;
  }
  .service-text {
    text-align: start;
  }
}

/* Akhir Service */

/* Harga */

.pb-3 {
  text-transform: uppercase;
  text-align: center;
  color: #171C26;
  border-color: #006494 !important;
  border-bottom: 2px dashed #006494 !important;
}

.card-1 {
  background: #171C26 !important;
  border-color: #fffffc !important;
  color: #fffffc !important;
}

.card-1:hover {
  transform: translateY(-10px) !important;
  transition: 0.5s;
}

.mobile-legend-logo {
  width: 150px;
  filter: grayscale(100%);
}

.mobile-legend-logo:hover {
  filter: grayscale(0%);
}

.card-2 {
  background: #780206; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #061161,
    #780206
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #061161,
    #780206
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  border-color: #fffffc !important;
  color: #fffffc !important;
}

.card-2:hover {
  transform: translateY(-10px) !important;
  transition: 0.5s;
}

.card-3 {
  background-color: #171C26 !important;
  border-color: #fffffc !important;
  color: #fffffc !important;
}

.card-3:hover {
  transform: translateY(-10px) !important;
  transition: 0.5s;
}

.pricing-header {
  max-width: 700px;
}

.btn-outline-primary {
  width: 300px !important;
  height: 55px !important;
  padding-top: 15px !important;
  margin-top: 30px !important;
  margin-left: 430px;
  color: #171C26 !important;
  border-color: #171C26 !important;
  font-weight: 550 !important;
}

.btn-outline-primary:hover {
  border-color: #FFB647 !important;
  background-color: #FFB647 !important;
  color: #171C26 !important;
}

@media only screen and (max-width: 500px) { 
  .cards {
    position: relative;
    left: -8%;
  }
  .btn-outline-primary {
    position: relative;
    left: -105%;
  }
}

/* Akhir Harga */

/* Testimonials */

.testi {
  width: 100%;
  height: 750px;
  margin-top: 55px;
  background-image: url(./img/bg/pexels-photo-2098428.jpeg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.testi-heading {
  color: #fffffc !important;
}

#img6 {
  top: 200px;
  left: 1150px;
  width: 200px;
  height: 200px;
}

#img7 {
  top: 490px;
  left: -50px;
  width: 300px;
  height: 200px;
}

#img8 {
  top: 40px;
  left: 450px;
  width: 300px;
  height: 200px;
}

.swiper {
  width: 100%;
  height: 500px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: transparent;
  cursor: grab;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide:active {
  cursor: grabbing !important;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}

.swiper-button-next {
  position: relative;
  right: 50px !important;
  color: #006494 !important;
}

.swiper-button-next:hover {
  color: #003554 !important;
  transition: 0.5s;
}

.swiper-button-prev {
  position: relative;
  left: 50px !important;
  color: #006494 !important;
}

.swiper-button-prev:hover {
  color: #003554 !important;
  transition: 0.5s;
}

.card {
  left: 28px;
}

.card-img-top {
  height: 400px !important;
}

.card-title {
  margin-top: 12px;
}

@media only screen and (max-width: 500px) { 
  .testi-cards {
    position: relative;
    width: 33vh !important;
  }
  .card-img-top {
    position: relative;
    height: 65vh !important;
  }
}

/* Akhir Testimonials */

/* Contact */

.contact-logo {
  height: 70px;
  border-radius: 100%;
}

/* Akhir Contact */

/* Footer */

.author {
 text-decoration: none;
}

.author:hover {
  color: #000000;
}

.img-thumbnail-1 {
  position: relative;
  width: 55px;
  height: 30px;
}
.img-thumbnail-2 {
  position: relative;
  width: 55px;
  margin-left: 10px;
}
.img-thumbnail-3 {
  position: relative;
  top: -3px;
  width: 75px;
  margin-left: 5px;
}
.img-thumbnail-4 {
  position: relative;
  top: 1px;
  width: 85px;
  border: none;
}
.img-thumbnail-5 {
  position: relative;
  width: 60px;
  border: none;
}

/* Akhir Footer */

/* About */

/* Akhir About */
